<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>占い</title>
</head>
<body>
  <h1>あなたの今日の運勢はどうですか</h1>
  <h2 th:text="${today}"></h2>
  <form action="/fortune" method="get">
    <label for="name">名前：</label>
    <input type="text" id="name" name="name" required>
    <label for="birthday">お誕生日：</label>
    <input type="date" id="birthday" name="birthday" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" min="1910-01-01" required>
    <p>
      <button type="submit">GO!  🎲</button>
    </p>
  </form>
</body>
</html>
